{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Contact Us</h2>
                        
                        {{ form_start(form, {'attr': {'class': ''}}) }}

{% if not form.vars.valid %}
<ul>
    {# Loop through every form item #}
    {% for child in form.children %}
        {# Display the errors of the form item #}
        {%for error in child.vars.errors%}
            <li>{{error.message}}</li>
        {%endfor%}
    {%endfor%}
</ul>
{% endif %}


                            <div class="mb-3">  
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div>

                            <div class="mb-3">
                                {{ form_row(form.email) }}
                            </div>

                            <div class="mb-3">
                                {{ form_row(form.message) }}
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}