{% extends 'base.html.twig' %}

{% block title %}Test index{% endblock %}

{% block body %}
    <h1>Test index</h1>

    {{ knp_pagination_filter(tests, {'t.name': 'Name', 't.category.name': 'Category'}) }}

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(tests, 'Id', 't.id') }}</th>
                <th>Thumbnail</th>
                <th>{{ knp_pagination_sortable(tests, 'Name', 't.name') }}</th>
                <th>{{ knp_pagination_sortable(tests, 'Category', 't.category.name') }}</th>
                <th>CreatedBy</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{ test.id }}</td>
                <td>
                    {% if test.thumbnail %}
                        <img src="{{ vich_uploader_asset(test, 'thumbnailFile') }}" alt="{{ test.name }}" style="width: 100px; height: 100px;">
                    {% endif %}
                </td>
                <td>{{ test.name }}</td>
                <td>{{ test.category ? test.category.name : '' }}</td>
                <td>{{ test.createdBy ? test.createdBy.username|capitalize : '' }}</td>
                <td>{{ test.createdAt ? test.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_test_show', {'id': test.id, 'slug': test.slug}) }}">show</a>
                    <a href="{{ path('app_test_edit', {'id': test.id}) }}">edit</a>
                    <form action="{{ path('app_test_delete', {'id': test.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ test.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_test_new') }}">Create new</a>

    {{ knp_pagination_render(tests) }}
{% endblock %}
